.container {
    text-align: center;
}


.main-click-button {
    height: 50px;
    width: 100px;
    
}
.buy-companion-button {
    height: 50px;
}
.buy-compounder-button {
    height: 50px;
}

body {
    background-image: url("../css/image/clicker-background.jpg"); 
    background-size: 1950px;
    
}
.cookie {
    text-align: center;
}